<h1>予約済みルーム一覧</h1>

<div class ="room-index">
 <% @rooms.each do |room| %>
  <% @reservations.each do |reservation| %>
   <% if room.id == reservation.room_id %>
    <% if current_user.id == reservation.user_id %>
     <div class ="room-frame">
      <%= link_to room_path(room) do %>
       <%= image_tag room.image.url, class: 'rounded-circle mr15', width: '300', height: 'auto' %><br>
      <% end %>
      <%= link_to room_path(room) do %>
       <%= room.title %><br>
      <% end %>
      料金¥<%= reservation.total_price %><br>
      開始日:<%= reservation.start_date.to_s(:datetime_jp) %><br>
      終了日:<%= reservation.end_date.to_s(:datetime_jp) %><br>
      更新日:<%= reservation.created_at.to_s(:datetime_jp) %><br>
     </div>
    <% end %>
   <% end %>
  <% end %>
 <% end %>
</div>