<div class ="total-field">
 <div class ="room-field">
  <%= image_tag @room.image.url, width: '800', height: 'auto' %><br>
  <h1><%= @room.title %></h1><br>
  <hr>
    紹介文：<p class ="room-letter"><%= @room.introduction %></p><br>
  <hr>
    住所：<p class ="room-letter"><%= @room.address %></p><br>
    <% if @room.user.id == current_user.id %>
     <hr><%= link_to "編集", edit_room_path(@room), class: "btn-room" %>
    <%= link_to '削除', room_path(@room), method: :delete, data: {confirm: "削除しますか？"}, class: "btn-room" %>
    <% else %>
    <% end %>
 </div>

 <div class ="reservation-field">
  <%= form_for @reservation, method: :post, url: '/reservations/confirm' do |f| %>
    <h2>¥<%= @room.price %>/日</h2>
     <p>開始日</p>
      <%= f.date_field :start_date %>
     <p>終了日</p>
      <%= f.date_field :end_date %>
     <p>人数</p>
      <%= f.number_field :persons %>
   <%= f.hidden_field :total_price %>
   <%= f.hidden_field :user_id, value: current_user.id %>
   <%= f.hidden_field :room_id, value: @room.id %>
   <%= f.submit '予約する(確認画面へ移動します)'%>
  <% end %>
 </div>
</div>
